.navbar {
  padding: 1.8rem 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.5) 0px 4px 6px -2px;
}

.navbar-brand {
  width: 90px;
}
.navbar-brand span {
  margin-left: 2rem;
}

.brand-and-toggle {
  width: 100%;
}

.navbar-content {
  display: flex;
  width: 100%;
}

.navbar-toggle-btn {
  transition: var(--transition);
  z-index: 12;
}

.navbar-collapse {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: var(--black);
  height: 100%;
  display: flex;
  padding: 10rem 3rem 0 3rem;
  transform: translateX(100%);
  transition: var(--transition);
}

.show-navbar-collapse {
  transform: translateX(0);
}

.nav-item {
  margin-bottom: 1.4rem;
}

.nav-link {
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--light-white);
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    position: relative;
    height: auto;
    padding: 0;
    width: 100%;
    background-color: transparent;
    transform: translateX(0);
    justify-content: flex-end;
  }

  .navbar-toggle-btn {
    display: none;
  }

  .nav-item {
    margin-bottom: 0;
    margin-left: 2.8rem;
  }

  .nav-link{
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 500 !important;
    opacity: 0.8;
  }

  .navbar-nav{
    display: flex;
  }
}
